/** Includes */
@import url('font-gisha.css');
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-center{
    text-align:center;
}
.white{
    color:#fff;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 810px;
    margin: 0 auto;
}

.main.wrapper.clearfix {
    box-shadow: 0px -3px 20px #000;
}

/* ===================
    ALL: Facileme Maps Theme
   =================== */

.container-header{
    background: #dddddd;
    padding: 11px 40px 16px 20px;
    position: relative;
    box-shadow: 0px -3px 20px #000;
}

.main aside.container-sidebar {
    background: #636a6c;
    height: 445px;
    overflow: hidden;
    padding: 40px 0px 15px 8px;
    position: relative;
}
.content-lojas header{
    text-align:center;
    color:#fff;
}
.content-lojas header img{
    border: 4px solid #fff;
    border-radius:29px;
}
.content-lojas .detalhes{
    padding-left:10px;
}

.content-lojas .detalhes li{
    list-style:none;
    color:#fff;
    background:#ccc;
    display: block;
    position:relative;
}
.content-lojas .arrow{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    position:absolute;
    left:58px;
    top:12px;
}
.content-lojas .detalhes .icon{
    background:#fff;
    color:#333;
    padding: 5px;
    float:left;
    position:absolute;
    left:0;
    top:0;
    width: 48px;
    text-align: center;
}
.content-lojas li span.middle {
    line-height:43px;
    font-size:17px;
    color:#777;
    padding-left:78px;
    
}
.content-lojas li.email span.middle{
    font-size:12px;
}
.container-sidebar h3{
    margin: 0;
    padding: 0;
}
.container-sidebar .title{
    font-size: 44px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    line-height: 33px;
    margin-bottom: 23px;
}
.container-sidebar .init-title{
    padding-top: 160px;
    line-height:normal;
}

.content-hover-loja{
    position: relative;
}
.content-hover-loja::before{
    content: '';
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-top: 18px solid #dddddd;
    height: 0;
    width: 0;
    position: absolute;
    right: 15%;
    top: 100%;
}
.container-sidebar .text-left{
    text-align: left;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.logo-facileme {
    background: url('../img/logo-facileme.png')no-repeat;
    display: inline-block;
    height: 49px;
    width: 130px;
    margin: 0;
}
.content-info{
    float: right;
    font-size: 28px;
    font-weight: 100;
    padding: 14px 0;
    
}
.content-info p{
    margin: 0;
}

.container-header::after{
    content: '';
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
    border-top: 18px solid #dddddd;
    height: 0;
    width: 0;
    position: absolute;
    right: 15%;
    top: 100%;
    z-index: 900;
}
.content-list-alfabeto{
    margin: 0;
    padding: 0;
    display: inline-block;
    right: 0;
    position: absolute;
    top: 5%;
    width: 20px;
}
.content-list-alfabeto li{
    list-style: none;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 17px;
}
.content-list-alfabeto li a{
    font-size: 13px;
    color: #ddd;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
}
.content-list-alfabeto li:nth-child(odd) >a,
.content-list-alfabeto li:nth-child(odd) >a{
    color: #636a6c;
}
.content-list-alfabeto li:nth-child(odd),
.content-list-alfabeto li:nth-child(odd){
    background-color: #ddd;
}
.content-list-alfabeto li.select-letra{
   background: url('../img/icones/bg-letra.png') no-repeat -1px 0px;
   border: none;
   width: 32px;
   position: relative;
   left: -18px;
   border-radius: 4px;
   padding: 4px 0 7px 0;
}
.content-list-alfabeto li.select-letra a{
    font-size: 24px;
    color: #fff;
    line-height: 22px;
}
.container-lojas{
    height: 471px;
    overflow: scroll;
    overflow-x: auto;
    width: 88%;
}
.content-lojas{
    margin: 0;
    padding: 0;
}
.content-lojas li a{
    display: block;
    text-decoration: none;
}
.content-lojas li {
    margin-bottom: 10px;
}
.content-lojas li span{
    display: inline-block;
    vertical-align: top;
}

.content-lojas li p{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin: 0;
    margin-left: 5px;
    font-size: 11px;
}
.content-lojas li p strong{
    font-size: 19px;
    display: block;
}
.content-lojas span.border-img {
    border: 4px solid #fff;
    border-radius: 29px;
}
.content-lojas span.border-img img{
    border-radius: 29px;
}
.btn-ir-loja{
    background: #2dabdf;
    color: #15678a;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0 14px;
    border-radius: 6px;
    box-shadow: 1px 4px;
    text-transform: uppercase;
}
.btn-ir-loja:hover{
    background: #3fc7ff;
    color: #15678a;
    text-decoration: none;
}
.content-btn{
    text-align: center;
    margin-top: 30px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 65%;
    }

    .main aside {
        float: right;
        width: 33%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 810px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    display: none;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
#map-canvas{
    height:500px;
}

.content .bodyContent{
    text-align: left;
    width: 100px;
    padding-left: 54px;
    padding-right: 5px;
    line-height: 34px;
    background: url('../images/Box.fw.png')no-repeat 0 0;
}

.content .bodyContent a{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    display:block;
}
