/** Includes */
@import url('font-gisha.css');

body {
    font: 16px Helvetica, Helvetica Neue, Arial;
    background-color: #4a9bee;
}

#conteudo{
  margin: 0 auto;  
}

header{
    background-color: #FFF;
    padding: 5px 20px;   
}

#map-canvas{
    height:500px;
}

h1{
    color: #e2574c;
}

.paddingTop10{
    padding-top: 10px;
}

